.popup-actions {
	text-align: center;
}
.popup .content .line:last-of-type {
	padding-bottom: 0;
}

input.error, textarea.error { border-color: red;}
span.note.error { font-size: 0.8em; color: red; margin-left: 122px;}
a.fa {margin: 0 2px !important}
table.admin { width: 100%; }
.admin td, .admin th { padding: 3px 5px; border-left: 1px solid #efefef; }
.admin tr:nth-child(even) { background: #efefef; }
.admin tr:nth-child(even) td { border-left: 1px solid #fff; }
.admin tr td:first-child { border-left: none; }