<a href="/" class="logo"><img src="./img/logo.gif" alt="Velcom" /></a>
<ul class="menu clearfix">
	<li><a href="/">Обзор</a></li>
	<li>
		<a href="#">Карта</a>
		<ul class="subMenu map">
			<li><a href="current-position.html">Текущее положение</a></li>
			<li><a href="routes.html">Маршруты</a></li>
			<li><a href="geo-objects.html">Объекты и геозоны</a></li>
			<li><a href="#">Поиск</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Планирование</a>
		<ul class="subMenu map">
			<li><a href="#">Посещения</a></li>
			<li><a href="#">Маршрут по точкам</a></li>
			<li><a href="#">Маршрутизация</a></li>
		</ul>
	</li>
	<li><a href="#">Отчеты</a></li>
	<li><a href="#">Рассылки&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />и уведомления</a></li>
	<li><a href="#">Администрирование</a></li>
</ul>