<table class="admin" cellspacing="0" border="0">
{%
	if (!$.isEmptyObject(o.items)) {
		for(var id in o.items) {
			var item = o.items[id];
%}
<tr>
	<td>{%=item.monitoringObject.name%}</td>
	<td>{%=item.notifyType.name%}</td>
	<td>{%=item.start%}</td>
	<td>{%=item.end%}</td>
	<td>{%=item.eventSource.name%}</td>
	<td align="right">
		<a class="fa fa-edit" href="javascript:void(0)" onclick="notifyPanel.edit('{%=item.guid%}')"></a>
		<a class="fa fa-remove" href="javascript:void(0)" onclick="if (confirm('Удалить эту запись?') { notifyPanel.remove('{%=item.guid%}'); }"></a>		
	</td>
</tr>
{%
		}
	} else {
%}
<tr>
	<td colspan="6" style="text-align: center; padding: 10px 0;">
		 - {%=locale.noObjects%} - 
	</td>
</tr>
{%
	}
%}
</table>