	<div class="search">
		<div class="outerSearch">
			<input type="text" id="q" placeholder="Поиск" value="" />
			<input type="button" class="icon icon-search" value="" />
		</div>
	</div>
	<div class="info scroller"></div>
