<div class="item clearfix">
{%
	if (o.checkable) {
%}
	<label><input id="check{%=o.id%}" type="checkbox" onchange="objectsPanel.onCheckObject(this.checked, '{%=o.id%}')" {% if (o.checked) { %}checked="checked" {% } %}/>{%=o.title%}</label>
{%
	} else {
%}
	<label style="margin-left: 24px">{%=o.title%}</label>
{%
	}
%}
	<div class="rightIcons">
{%
	if (o.updated_ago >= 0) {
		var color = getStatusColor((o.updated_ago >= 24) ? 24 : o.updated_ago);
		if (o.alert) {
%}
		<a href="javascript:void(0)" title="{%=o.alert%}"><span class="icon icon-attention"></span></a>
{%
		}
%}
		<a href="javascript:void(0)" title="Последнее обновление данных: {%=o.updated_date%}"><span class="icon icon-statusArrow{%=(o.updated_ago >= 24 ? ' add' : '')%}" style="background-color: #{%=color%}; color: #{%=color%}">{%=(o.updated_ago > 24 ? '24+' : o.updated_ago)%}</span></a>
{%
	}

	if (o.routesEnabled) {
%}
	<a id="route{%=o.id%}" class="fa fa-code-fork{%=(o.showRoute ? '' : ' disabled')%}" href="javascript:void(0)" onclick="objectsPanel.toggleRoute(this)" title="Показать маршрут"></a>
{%
	}
	
	if (o.chartsEnabled) {
%}
	<a id="chart{%=o.id%}" class="fa fa-line-chart{%=(o.showChart ? '' : ' disabled')%}" href="javascript:void(0)" onclick="objectsPanel.onChartsClick('{%=o.id%}')" title="Показать график"></a>
{%
	}
%}
	</div>
</div>