<div class="info1">
	<div class="line">
		<span class="name">Период:</span>
		<input id="period1" type="text" class="period1" readonly />
		<span class="tire">-</span>
		<input id="period2" type="text" readonly />
	</div>
	<!--div class="line">
		<span class="name">Cуточный интервал:</span>
		<select class="timeInterval">
			<option>09:00 - 18:00</option>
			<option>18:00 - 21:00</option>
			<option>21:00 - 23:00</option>
			<option>23:00 - 00:00</option>
			<option>00:00 - 09:00</option>
		</select>
	</div-->
	<button id="getRoutesBtn" class="btn" style="margin: 7px auto 7px auto">Показать маршруты</button>
	<span id="sensors" style="display: none;">
		<span class="name">График изменений датчика:</span>
		<select class="sensor" onchange="if ($(this).val()) { objectsPanel.updateSensorCharts($(this).val()); }">
			<option></option>
		</select>
	</span>
</div>