	<div class="search">
		<form class="outerSearch">
			<input type="text" placeholder="Поиск" value="" />
			<input type="button" class="icon icon-search" value="" />
		</form>
	</div>
	<div class="panel">
		<input type="checkbox" id="checkAll" />
		<span class="separator"></span>
		<a href="javascript: void(0)" class="icon icon-align-alphabet"></a>
		<a href="javascript: void(0)" class="icon icon-align-alphabet-back"></a>
		<a href="javascript: void(0)" class="fa fa-refresh"></a>
		<span class="separator"></span>
		<a id="addObject" href="javascript: void(0)" class="btn withIcon">
			<span class="icon icon-plus"></span>
			<span>Добавить</span>
		</a>
	</div>
	<div class="info scroller">
		Загрузка...
	</div>
