<form id="eventForm">
	<div class="line">
		<label>Объект:</label>
		<select name="monitoringObject">
{%
	for(var val in o.objectOptions) {
%}
			<option value="{%=val%}">{%=o.objectOptions[val]%}</option>
{%
	}
%}
		</select>
	</div>
	<div class="line">
		<label>Название:</label>
		<input type="text" name="summary" value="{%=(o.event ? o.event.summary : '')%}" />
	</div>
	<div class="line">
		<label>Период:</label>
{%
	var date = new Date();
	date.setHours(9);
	date.setMinutes(0);
	date.setSeconds(0);
%}
		c &nbsp;&nbsp;&nbsp;<input type="text" class="rome-datetime" name="start" value="{%=(o.event ? o.event.start : date.toSqlDateTime()).replace(/\:00$/, '')%}" style="width: 100px" />
	</div>
	<div class="line">
		<label>&nbsp;</label>
{%
	date.setHours(18);
%}
		по <input type="text" class="rome-datetime" name="end" value="{%=(o.event ? o.event.end : date.toSqlDateTime()).replace(/\:00$/, '')%}" style="width: 100px" />
	</div>
	<div class="line">
		<label>Описание:</label>
		<textarea name="description" style="height: 50px">{%=(o.event ? o.event.description : '')%}</textarea>
	</div>
	Кликните по карте или введите адрес чтобы задать местоположение события
	<span>
		<input type="text" id="q" style="width: 350px">
	</span>
	<div id="minimap-canvas" style="margin: 5px 0 10px 0; height: 200px;"></div>
	<input type="hidden" name="location[lat]" value="" />
	<input type="hidden" name="location[lon]" value="" />
	<div class="popup-actions">
		<button type="button" class="btn" onclick="objectsPanel.saveEvent()">Сохранить</button>
	</div>
</form>