<form>
	<div class="line">
		<label>* Наименование обьекта:</label>
		<input type="text" name="name" />
	</div>
	<div class="popup-actions">
		<button type="button" class="btn">Сохранить</button>
	</div>
</form>