<form id="eventForm">
	<div class="line">
		<label>Объект:</label>
		<select name="monitoringObject">
{%
	for(var val in o.objectOptions) {
%}
			<option value="{%=val%}">{%=o.objectOptions[val]%}</option>
{%
	}
%}
		</select>
	</div>
	<div class="line">
		<label>Название:</label>
		<input type="text" name="summary" onkeyup="objectsPanel.updateEventForm()" />
	</div>
	<div class="line">
		<label>Период:</label>
		c &nbsp;&nbsp;&nbsp;<input type="text" class="rome-datetime" name="start" onchange="objectsPanel.updateEventForm()" style="width: 100px" />
	</div>
	<div class="line">
		<label>&nbsp;</label>
		по <input type="text" class="rome-datetime" name="end" onchange="objectsPanel.updateEventForm()" style="width: 100px" />
	</div>
	<div class="line">
		<label>Описание:</label>
		<textarea name="message" style="height: 50px"></textarea>
	</div>
	Кликните по карте или введите адрес чтобы задать местоположение события
	<input type="text" id="q" style="width: 350px">
	<div id="minimap-canvas" style="margin: 5px 0 10px 0; height: 200px;"></div>
	<input type="hidden" name="location[lat]" value="" />
	<input type="hidden" name="location[lon]" value="" />
	<div class="popup-actions">
		<button type="button" class="btn" disabled="disabled" onclick="objectsPanel.saveEvent()">Сохранить</button>
	</div>
</form>