<form id="addObjectForm">
	<div class="line">
		<label>* Наименование обьекта:</label>
		<input type="text" name="name" />
	</div>
	<div class="line">
		<label>* IMEI:</label>
		<input type="text" name="imei" />
	</div>
	<div class="popup-actions">
		<button type="button" class="btn" onclick="objectsPanel.saveObject()">Сохранить</button>
	</div>
</form>