{%
	var _item = (o.id) ? o.objects[o.id] : null;
%}
<form id="editForm">
	<div class="line">
		<label>Название:</label>
		<input type="text" name="name" value="{%=(_item && _item.name)%}"/>
	</div>
	<div class="line">
		<label>Тип зоны:</label>
		<input type="hidden" name="type" value="{%=(_item && _item.type)%}" />
		<select class="styler" name="_type" onchange="objectsPanel.changeType()">
{%
	for(var i in o.settings.types) {
		var title = o.settings.types[i];
%}
			<option value="{%=i%}">{%=title%}</option>
{%
	}
%}
		</select>
	</div>
	<div class="line type type-circle">
		<label>Радиус:</label>
		<input type="text" class="" name="radius" value="{%=(_item && _item.radius)%}" style="width: 50px" />
	</div>
	<div class="line">
		<label>Цвет заливки:</label>
		<input type="text" class="miniColors" name="color" value="{%=(_item && _item.color)%}" style="width: 50px" />
	</div>
	<div class="line">
		<label>Иконка:</label>
		<select class="noStyler iconsSelect" name="icon">
{%
	for(var id in o.settings.iconsPoi) {
%}
		<option value="{%=id%}">{%=o.settings.iconsPoi[id]%}</option>
{%
	}
%}
		</select>
	</div>
	<span>
		<span class="type type-circle">
			Кликните по карте чтобы задать центр геозоны
		</span>
		<span class="type type-polygon">
			Кликайте по карте чтобы задать точки геозоны<br />
			Кликните на точке еще раз, чтобы ее удалить
		</span>
	</span>
	<div id="minimap-canvas" style="margin: 5px 0 10px 0; height: 200px;"></div>
	<input type="hidden" name="lat" value="" />
	<input type="hidden" name="lon" value="" />
	<div class="popup-actions">
		<button type="button" class="btn" onclick="objectsPanel.save()">Сохранить</button>
	</div>
</form>