{%
	for(var i = 0; i < o.length; i++) {
		var row = o[i];
%}
<a href="{%=row.url%}">{%=row.name%}</a><br />
{%
	}
%}
<br/>
<div class="popup-actions">
	<button type="button" class="btn close-popup">OK</button>
</div>