<form id="addObjectForm">
	<div class="line">
		<label>Наименование обьекта:</label>
		<input type="text" name="name" onkeyup="objectsPanel.updateFormState()" />
	</div>
	<div class="line">
		<label>IMEI:</label>
		<input type="text" name="imei" onkeyup="objectsPanel.updateFormState()" />
	</div>
	<div class="line">
		<label>Иконка:</label>
		<select class="noStyler iconsSelect" name="icon">
{%
	for(var id in o.settings.iconsObjects) {
%}
		<option value="{%=id%}">{%=o.settings.iconsObjects[id]%}</option>
{%
	}
%}
		</select>
	</div>
	<div class="line">
		<label>Объект доступен для следующих пользователей:</label>
		<div class="block">
			<div class="info niceScroller" style="max-height: 200px;">
{%
	for(var i = 0; i < o.settings.users.length; i++) {
		var item = o.settings.users[i];
		// var checked = in_array(item.guid, usersObjects) ? 'checked="checked"' : '';
%}
			<div class="item">
				<input type="checkbox" name="user[]" value="{%=item.guid%}">{%=item.name%}</option><br />
			</div>
{%
	}
%}
			</div>
		</div>
	</div>
	<div class="popup-actions">
		<button type="button" class="btn" disabled="disabled" onclick="objectsPanel.saveObject()">Сохранить</button>
	</div>
</form>