<form id="mailingForm">
	<div class="line">
		<label>Название:</label>
		<input type="text" name="name" onkeyup="mailPanel.updateForm()" />
	</div>
	<div class="line">
		<label>Объект:</label>
		<select name="monitoringObject">
{%
	for(var i = 0; i < o.settings.objects.length; i++) {
		var item = o.settings.objects[i];
%}
			<option value="{%=item.guid%}">{%=item.name%}</option>
{%
	}
%}
		</select>
	</div>
	<div class="line">
		<label>Отчет:</label>
		<select name="report">
{%
	for(var i = 0; i < o.settings.reports.length; i++) {
		var item = o.settings.reports[i];
%}
			<option value="{%=item.guid%}">{%=item.name%}</option>
{%
	}
%}
		</select>
	</div>
	<div class="line">
		<label>Период:</label>
		<select name="period">
{%
	for(var i = 0; i < o.settings.period.length; i++) {
		var item = o.settings.period[i];
%}
			<option value="{%=item.guid%}">{%=item.name%}</option>
{%
	}
%}
		</select>
	</div>
	<div class="line">
		<label>Формат:</label>
		<select name="format">
{%
	for(var i = 0; i < o.settings.format.length; i++) {
		var item = o.settings.format[i];
%}
			<option value="{%=item.guid%}">{%=item.name%}</option>
{%
	}
%}
		</select>
	</div>
	<div class="line">
		<label>E-mail:</label>
		<input type="email" name="email" onkeyup="mailPanel.updateForm()" />
	</div>
	<div class="popup-actions">
		<button type="button" class="btn" disabled="disabled" onclick="mailPanel.saveMailing()">Сохранить</button>
	</div>
</form>