<!-- Template: report-form -->
<div class="info1">
	<form id="reportForm">
{%
	for(var i = 0; i < o.settings.length; i++) {
		var e = o.settings[i];
		if (e.elem == 'input' && e.attrs.type == 'datetime') {
			include('reportform-datetime', e.attrs);
		} else if (e.elem == 'input' && e.attrs.type == 'select') {
			include('reportform-select', e.attrs);
		}
	}
%}
		<button id="SubmitBtn" type="button" class="btn" onclick="objectsPanel.submitReportForm()" style="margin: 7px auto">Показать</button>
		<button id="saveBtn" type="button" class="btn" onclick="" style="margin: 7px auto">Сохранить</button>
	</form>
</div>
<!-- end -->

<!-- Template: reportform-datetime -->
<div class="line">
	<label>{%=o.label%}:</label>
{%
	var date = new Date();
	date.setSeconds(0);
	date.setMinutes(o.id == 'КонецПериода' ? 59 : 0);
	date.setHours(o.id == 'КонецПериода' ? 23 : 0);
%}	
	<input type="text" class="rome-datetime" name="{%=o.id%}" value="{%=date.toSqlDateTime().replace(/\:00$/, '')%}" />
</div>
<!-- end -->

<!-- Template: reportform-select -->
<div class="line">
	<label>{%=o.label%}:</label>
	<select name="{%=o.id%}" class="styler-select">
{%
	for(var i = 0; i < o.options.length; i++) {
%}
		<option value="{%=o.options[i].guid%}">{%=o.options[i].name%}</option>
{%
	}
%}
	</select>
</div>
<!-- end -->