<!-- Template: report-table -->
<table class="report">
{%
	include('report-header', o);
	objectsPanel.rowID = 0;
	o.nestLevel = 1;
%}
<tbody>
{%
	include('report-row', o);
%}
</tbody>
</table>
<!-- end -->

<!-- Template: report-header -->
<thead>
	<tr>
{%
	for(var i = 0; i < o.columns.length; i++) {
		var col = o.columns[i];
%}
		<td><b>{%=col.label%}</b></td>
{%
	}
%}
	</tr>
</thead>
<!-- end -->

<!-- Template: report-row -->
{%
	for(var i = 0; i < o.data.length; i++) {
		objectsPanel.rowID++;
		var row = o.data[i];
%}
	<tr class="treegrid-{%=objectsPanel.rowID%}{% if (o.parentID) { %} treegrid-parent-{%=o.parentID%}{% } %}">
{%
		var colspan = 0;
		if (o.nestLevel <= o.groups.length) {
			colspan = o.nestLevel;
			do {
				colspan++;
				col = o.columns[colspan];
			} while (colspan < o.columns.length && row[col.key] === null);
			console.log(objectsPanel.rowID, o.nestLevel, colspan);
		}
		if (colspan) {
			var col = o.columns[o.nestLevel - 1];
%}
		<td colspan="{%=colspan%}">{%=row[col.key]%}</td>
{%
		}
		for(var j = colspan; j < o.columns.length; j++) {
			var col = o.columns[j];
%}
		<td>{%=row[col.key]%}</td>
{%
		}
%}
	</tr>
{%
		if (row.data) {
			include('report-row', {columns: o.columns, groups: o.groups, data: row.data, parentID: objectsPanel.rowID, nestLevel: o.nestLevel + 1});
		}
	}
%}
<!-- end -->