<!-- Template: report-table -->
<table class="report">
{%
	include('report-header', o);
	objectsPanel.rowID = 0;
	o.nestLevel = 0;
%}
<tbody>
{%
	include('report-row', o);
%}
</tbody>
</table>
<!-- end -->

<!-- Template: report-header -->
<thead>
	<tr>
{%
	for(var i = 0; i < o.columns.length; i++) {
		var col = o.columns[i];
%}
		<td><b>{%=col.label%}</b></td>
{%
	}
%}
	</tr>
</thead>
<!-- end -->

<!-- Template: report-row -->
{%
	for(var i = 0; i < o.data.length; i++) {
		objectsPanel.rowID++;
		var row = o.data[i];
%}
	<tr class="treegrid-{%=objectsPanel.rowID%}{% if (o.parentID) { %} treegrid-parent-{%=o.parentID%}{% } %}">
{%
		/*
		var cols = [], colspan = [];
		if (o.nestLevel) {
			colspan.push(o.nestLevel + 1);
		}
		for(var j = o.nestLevel; j < o.columns.length; j++) {
			var col = o.columns[j];
			var pos = colspan.length - 1;
			if (row[col.key] === null) {
				colspan[pos]++;
			} else {
				cols.push(col);
				colspan.push(1);
			}
		}
		console.log(row, colspan);
		for(var j = 0; j < cols.length; j++) {
			var col = cols[j];
		*/
		for(var j = 0; j < o.columns.length; j++) {
			var col = o.columns[j];
%}
		<td>{%=row[col.key]%}</td>
{%
		}
%}
	</tr>
{%
		if (row.data) {
			include('report-row', {columns: o.columns, data: row.data, parentID: objectsPanel.rowID, nestLevel: o.nestLevel + 1});
		}
	}
%}

<!-- end -->