{%
	if (!$.isEmptyObject(o.events)) {
		for(var id in o.events) {
			var date = Date.fromSqlDate(o.events[id].start);
			var event = o.events[id];
%}
	<div class="scheduleItem" onclick="objectsPanel.showEvent('{%=event.id%}')">
		<span>{%=date.fullDate('rus')%} {%=date.hoursMinutes('rus')%}</span>: 
		{%=event.title%}
	</div>
{%
		} 
	} else {
%}
	<div class="scheduleItem" style="text-align: center; padding: 20px 0">- {%=locale.noEvents%} -</div>
{%
	}
%}