{%
	var re = new RegExp("(" + o.q.split(' ').join('|') + ")", "gi");
	var title = o.item.title.replace(re, "<b>$1</b>");
%}
<div class="autocomplete-suggestion" data-item="{%=json_encode(o.item, true)%}">
	{%#title%}
	<div>
		<em><!-- some description --></em>
	</div>
</div>